<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <assert assertuienabled="false"/>
    <sources>
      <source name="TaskServer" switchName="debugsw" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logfile"/>
        </listeners>
      </source>
    </sources>
    <!-- 0: Off, 1: Error, 2: Warning, 3: Info, 4: Verbose -->
    <switches>
      <add name="debugsw" value="Verbose"/>
      <add name="normalsw" value="Info"/>
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="true"  traceOutputOptions="ThreadId"/>
      <add name="logfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" traceOutputOptions="DateTime, ThreadId"/>
    </sharedListeners>
    <trace autoflush="true" indentsize="2">
    </trace>
  </system.diagnostics>
</configuration>
