<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.diagnostics>
    <assert assertuienabled="false"/>
    <sources>
      <source name="TaskServer" switchName="debugsw" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logfile"/>
        </listeners>
      </source>
    </sources>
    <!-- 0: Off, 1: Error, 2: Warning, 3: Info, 4: Verbose -->
    <switches>
      <add name="debugsw" value="Verbose"/>
      <add name="normalsw" value="Info"/>
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="true"  traceOutputOptions="None"/>
      <add name="logfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" traceOutputOptions="DateTime, ThreadId"/>
    </sharedListeners>
    <trace autoflush="true" indentsize="2">
    </trace>
  </system.diagnostics>

  <appSettings>
    <add key="twitter.blackwords.1" value="白,黒,ホワイト,ブラック,ほわ,ぶらっく"/>
    <add key="twitter.blackwords.2" value="定時,退社,家,帰,到着,ただいま,残業,終電,代休"/>
    <add key="twitter.whitewords.1" value="ホワイト,ほわいと,退社"/>
    <add key="twitter.replace.1" value="きたーく=帰宅,とーちゃく=到着,おうち=お家,ただーいま=ただいま"/>
  </appSettings>
</configuration>
