# /etc/systemd/system/
# ~/.config/systemd/user

[Unit]
Description=Docker GROWI
Requires=docker.service
After=network.target

[Service]
Type=simple
# Environment=COMPOSE_FILE=/home/...
ExecStart=/usr/bin/docker compose -f ${COMPOSE_FILE} up
ExecStop=/usr/bin/docker compose -f ${COMPOSE_FILE} down
#User=your_user
#WorkingDirectory=/path/to/working/directory
Restart=always

[Install]
WantedBy=multi-user.target
