# /etc/systemd/system/
# ~/.config/systemd/user

[Unit]
Description=Docker GROWI public
Requires=docker.service
After=network.target

[Service]
# service process = ExecStart
# compose up -d is not needed
Type=simple

# !!!!! Replace here with path to git repository !!!!!
WorkingDirectory=/root/DollsKit/growi

ExecStart=/usr/bin/docker compose \
  -f growi-docker-compose/docker-compose.yml \
  -f compose.public.yaml \
  up
ExecStop=/usr/bin/docker compose \
  -f growi-docker-compose/docker-compose.yml \
  -f compose.public.yaml \
  down
Restart=always

[Install]
WantedBy=multi-user.target
